.excuse {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.excuse__container {
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excuse__box {
    border: #ffffff solid 0.5vh;
    box-shadow: 0 0 1vh #ffd300, inset 0 0 1vh #ffd300;
    border-radius: 25%;
    height: 6vh;
    width: 6vh;
    animation: round360 2.5s infinite;
}

.excuse__text {
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #ffffff, 0 0 2px #faf1c6, 0 0 5px #f7e692, 0 0 7px #f8e272, 0 0 10px #ffd300;

    &::after {
        content: "";
        position: absolute;
        margin-left: 5px;
        animation: dots 10s infinite;
    }
}